
/* entire toast container */
.toast-container {
    position: fixed;
     z-index: 999999;
    pointer-events: none;
    line-height: initial;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.toast-container .toast-wrapper {
    position: relative;
}
.toast-container .toast-soundplayer {
    display: none;
    visibility: hidden;
}

/**
 * Toast stylings:
 * ------------------------------------------------------------------------- */

/* each toast gets this style: */
.toast {
    position: relative;
    padding: 16px;
    border: 1px solid;
    margin: 0.5em 0.5em;
    border-left: 6px solid transparent;
    border-radius: 2px;
    pointer-events: none;
    -webkit-box-shadow: 0px 0px 9px rgba(0,0,0, 0.25);
            box-shadow: 0px 0px 9px rgba(0,0,0, 0.25);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.toast.close-on-click {
    cursor: pointer;
    pointer-events: auto;
}

/* informational toast class: */
.toast--info {
    color: #31708F;
    background-color: #EAF2FA;
    border-color: #91C5F2;
}

/* successful toast class: */
.toast--success {
    color: #3C763D;
    background-color: #E9FFD9;
    border-color: #A6CA8A;
}

/* warning toast class: */
.toast--warning {
    color: #8A6D3B;
    background-color: #FFF8C4;
    border-color: #F2C779;
}

/* error toast class: */
.toast--error {
    color: #A94442;
    background-color: #FFECEC;
    border-color: #F5ACA6;
}

/**
 * Progress bar styling:
 * ------------------------------------------------------------------------- */

/* each progress bar gets this style: */
.toast-progressbar {
    position: absolute;
    height: 4px;
    width: 0%;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
    transition: 0s width ease;
}

/* progress bar color for each toast type: */
.toast-progressbar--info { background-color: #91C5F2; }
.toast-progressbar--success { background-color: #A6CA8A; }
.toast-progressbar--warning { background-color: #F2C779; }
.toast-progressbar--error { background-color: #F5ACA6; }

/**
 * Available toast transitions:
 * ------------------------------------------------------------------------- */

/* TRANSITION 01 - a [fade] transition (DEFAULT TRANSITION): */
.toast-container--fade {
     right: 0;
    bottom: 0;
}
.toast-container--fade .toast-wrapper { display: inline-block; }
.toast.fade-init { opacity: 0; transition: .48s all ease-in-out; }
.toast.fade-show { opacity: 1; }
.toast.fade-hide { opacity: 0; }
/* ------------------------------------------------------------------------- */

/* TRANSITION 02 - a [slideLeftFade] transition: */
.toast-container--slideLeftFade {
     right: 0;
    bottom: 0;
}
.toast-container--slideLeftFade .toast-wrapper { display: inline-block; }
.toast.slideLeftFade-init { right: -100%; opacity: 0; transition: .48s all ease-in-out; }
.toast.slideLeftFade-show { right: 0%; opacity: 1; }
.toast.slideLeftFade-hide { right: 100%; opacity: 0; }
/* ------------------------------------------------------------------------- */

/* TRANSITION 03 - a [slideLeftRightFade] transition: */
.toast-container--slideLeftRightFade {
     right: 0;
    bottom: 0;
}
.toast-container--slideLeftRightFade .toast-wrapper { display: inline-block; }
.toast.slideLeftRightFade-init { right: -100%; opacity: 0; transition: .48s all ease-in-out; }
.toast.slideLeftRightFade-show { right: 0%; opacity: 1; }
.toast.slideLeftRightFade-hide { right: -100%; opacity: 0; }
/* ------------------------------------------------------------------------- */

/* TRANSITION 04 - a [slideRightFade] transition: */
.toast-container--slideRightFade {
     right: 0;
    bottom: 0;
}
.toast-container--slideRightFade .toast-wrapper { display: inline-block; }
.toast.slideRightFade-init { left: -100%; opacity: 0; transition: .48s all ease-in-out; }
.toast.slideRightFade-show { left: 0%; opacity: 1; }
.toast.slideRightFade-hide { left: 100%; opacity: 0; }
/* ------------------------------------------------------------------------- */

/* TRANSITION 05 - a [slideRightLeftFade] transition: */
.toast-container--slideRightLeftFade {
     right: 0;
    bottom: 0;
}
.toast-container--slideRightLeftFade .toast-wrapper { display: inline-block; }
.toast.slideRightLeftFade-init { left: -100%; opacity: 0; transition: .48s all ease-in-out; }
.toast.slideRightLeftFade-show { left: 0%; opacity: 1; }
.toast.slideRightLeftFade-hide { left: -100%; opacity: 0; }
/* ------------------------------------------------------------------------- */

/* TRANSITION 06 - a [pinInTop] transition: */
.toast-container--pinInTop {
       top: 0;
     right: 0;
    bottom: 0;
}
.toast-container--pinInTop .toast-wrapper {
    display: inline-block;
    height: 10px;
    float: right;
}
.toast.pinInTop-init { bottom: -100%; opacity: 0; transition: .48s all ease-in-out; }
.toast.pinInTop-show { bottom: 0%; opacity: 1; }
.toast.pinInTop-hide { bottom: -100%; opacity: 0; }
/* ------------------------------------------------------------------------- */
